
*
{
	margin: 0;
	padding: 0;
	box-sizing: border-box;

}
body {
  background-color: #f5f5f5;
}

#form-container {
  margin-top: 100px;
}

.form-control {
  border-radius: 0;
}

button {
  border-radius: 0;
}

/*------------------------------Home_page--------------------------*/
/*------Nav_bar------*/

.logo
{

	font-family: Magneto;
	color: black;
	margin-left: 20px;
	font-weight: bolder;
}
.navigation
{
	position: sticky;
	top: 0;
	width: 100%;
	display: flex;
	justify-content:space-between;
	align-items: center;
	z-index: 10000;
	background-color: white;	
}
.icon
{
	display: flex;
	margin-right: 7px;
}
.icon li
{
    list-style: none;
    display: inline-block;
    padding: 5px;

}
.icon li a
{
	text-decoration: none;
	
}
.icon i
{
	color: black;
}
.icon i:hover
{
    color: red;
    transition: 0.2s;
}
.nav-link
{	

 	text-align: right;
}
.nav-link li 
{
   list-style: none;
   display: inline-block;
   margin-left: 28px;
   margin-bottom: 20px;
   margin-top: 10px;

}
.nav-link li a
{
	
	text-decoration: none;
	color: black	;
	font-family: Calibri;
	font-weight: bold;
}
.nav-link li a::after
{
	content: '';
	height: 3px;
	width: 0%;
	background:gray	;
	display: block;
	margin: auto;
    transition:  0.7s ;

}


.nav-link li a:hover::after
{

	cursor: pointer;
    width:100% ;
    

}


.checkbtn
{
	font-size: 28px;
	color: black;
	float: right;

	cursor: pointer;
	display: none;
}
#check
{
	display: none;
}

/* .search-box
{
	
    height: 30px;
	display: flex;
	background-color: #F4E2D8;
	cursor: pointer;
	border-radius: 40px;

}

.search-text
{
	width: 150px;
    outline: none; 
    border: none;
    font-size: 14px;
    
    float: left; 
    background: none;
    transition: 0.6s;
    padding-left: 20px;


}
.search-box:hover > .search-text
{
	transition: 0.6s;
	width: 250px;

}
.search-box a
{
    float: right;
    display: flex;
    align-items: center;
  
}
.search-box i
{
   padding: 5px;	
} */
.cartIcon {
    display: flex;
    

}

.cartIcon i{
    justify-content: right;
    width: 13px;
    
}

.cartIcon span {
    margin-left: 8px;
    color: black;
    border-radius: 50%;
    padding-left: 4px;
    padding-right: 4px;
    padding-top: 2px;
    padding-bottom: 2px;
    font-family: sans-serif;
	

}
.userSearchBox{
	position: absolute;
	right: -100%;
	top: 100%;
	width: 100%;
	height: 100%;
	display: flex;
	background-color: white;
	align-items: center;
	padding: 0 30px;
	transition: 0.5s ease-in-out;
	box-shadow: 0 2px rgba(0, 0, 0, 0.1);
	display: none;

}

.userSearchBox.active{
	right: 0;
}
.userSearchBox .input1{
	width: 100%;
	border: none;
	font-family:sans-serif;
	outline: none;
	height: 30px;
	color: black;
	font-size: 1rem;
	background-color: white;
	border-bottom: 1px solid rgba(0, 0, 0, 0.5);
}
.searchBTN{
	color: #ff4d30;
	font-size: 19px;
	cursor: pointer;
	margin-right: 11px;
}
.select-menu .option a:hover::after{
	cursor: pointer;
    width:90% ;
}

.select-menu{
	width: 220px;
	position: relative;
	display: inline-block;
	margin-left: 30px;
	margin-right: 30px;
	justify-content: flex-end;
	z-index: 2000;
	
	
}
.select-btn{
	width: 250px;
	
}
.sBtn-text{
	font-family: Calibri;
	font-weight: bold;
}
.select-menu .select-btn{
	display: flex;
	flex-direction: row;
	
	align-items: center;
	justify-content: center;
	cursor: pointer;
}

.select-menu.active .options{
	display: block;
}
.select-btn i{
	font: 20px;
	transition: 0.15s;
	margin-left: 8px;
	padding-top: 3px;
	
}
.select-menu.active .select-btn i{
	transform: rotate(-180deg);
}
.select-menu .options{
	display: none;
	position: absolute;
	top: 100%;
	left: 0;
	width: 100%;
	
	height: auto;
	
	background-color: white;
	box-shadow: 0 0 3px rgba(0, 0, 0, 0.4);
	z-index: 2000;
	margin-top: 10px;
}


.option{

	list-style: none;
	
}
.option a{
	text-decoration: none;
	color: black;
	font-family: Calibri;
	font-size: 15px;
	font-weight: bold;
	
	text-align: center ;
	padding: 30px; 

		
}


/*-------slide_show-------*/


.slider
{
	position: relative;
	width: 100%;
	display: flex;
	height: 90vh;
	justify-content: center;
	align-items: flex-end;
	
    
}
.slider .slideimage
{
	position: absolute;
	top: 0;
	left: 0;
	padding: 100px;
	width: 100%;
	height: 90vh ;
	display: flex;
	transition: 0.5s;
	z-index: 1;
	justify-content: center;
	align-items: center;
	clip-path: 	circle(	0px at center);


}
.slider input[type="radio"]:checked + .slideimage
{
	z-index: 10;
	clip-path: 	circle(	1000px at center);
}

.slideimage img
{
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 90vh;
	object-fit: cover;
	
}

.slider input[type="radio"]
{
	position: relative;
	z-index: 1000;
	margin: 6px;
	margin-bottom: 35px;
	cursor: pointer;
	outline: none;
}


/*-----Famous_places-----*/
.text
{
	font-size: 30px;
	font-family: Calibri;
	margin-top: 50px;
	text-align: center;
	align-items: center;
   
}
.card-p
{
	text-align: center;
	align-items: center;
	margin-top: 25px;
	font-family: sans-serif;
	font-size: 14.5px;

}

.card{
	
	justify-content:center;
	align-items: center;
	flex-wrap: wrap;

}
.row{
	display: flex;
	flex-wrap: wrap;
	padding: 20px;
	justify-content: center;
	align-items: center;
    
}
.visit{
	width: 100px;
	padding: 6px;
	background-color: black;
	color: white;
	border-radius: 10px;
	display: block;
	margin: auto;
	margin-bottom:20px ;
	text-decoration: none;
}
.visit:hover{
	background-color: white;
	color: black;
	transition: 0.15s;
	transform: scale(1.10);
	

}
.visit:active{
	opacity: 0.7;
}
.skane{
	text-align: justify;
	padding-top: 20px;
	padding-bottom: 20px;
}
.column{
    
    margin: 20px;
    flex-basis: 5%;
	min-width: 260px;
	background-color: white;
	border-radius: 10px;
    box-shadow: 0 0 15px rgba(0, 0, 0, 0.4);

}
.column img{
    height: 160px;
	width: 100%;
	border-radius: 10px;
}
.package{
	text-align:center;
	font-size: 16px;
	
}


/*-------service we offer-------*/

.service-card h1
{
	text-align: center;
	
	margin-top: 60px;
}
.s-head
{
	text-align: center;
	font-size: 14px;
	font-family: Calibri;
	margin-bottom: 10px;
	
}

.service-card
{
	background-color: whitesmoke;
	   
}
.service_row1
{
	min-height: 60vh;
	background-color:#ffffff;
	display: flex;
	justify-content: center;
	align-items: center;
	
}
.service-content
{
	margin-left: 60px;
	
}

.service-content p
{
	font-size: 17px;
	width: 80%;
	margin-top: 10px;
	margin-left: 20px;
	margin-bottom: 30px;
	
}
.service-content h3
{
	color: orange;
	font-family:Calibri ;
	font-size: 	30px; 
	margin-left: 20px;
		
}
.service-content img
{
	width: 550px;
	height: 45vh;
	border-radius: 15px;
}

.buttonbox{
	
	color: orange;
	background: transparent;
	border-radius: 6px;
	padding: 7px;
	font-family: inherit;
	font-size: 17px;
	border: 2px solid steelblue;
	text-decoration: none;
    text-align: center;
    margin-left: 20px;
}
.buttonbox:hover{
	
	color: white;
	background-color: orange;
	
}
.overlay{
	position:fixed;
	overflow: auto;
	top: 0;
	bottom: 0;
	left: 0;
	right: 0;
	visibility: hidden;


}
.overlay:target{
	visibility: visible;
	
}
.popup{
	margin: 30px auto;
	margin-top: 80px;
	padding: 20px;
	border-radius: 6px;
	width: 80%;
	position: relative;
	border: solid black;
	background-color: seashell;
	
}
.popup .close{
	position: absolute;
	top: 20px;
	right: 30px;


}
.popup h3
{
	padding: 10px;
	border-radius: 10px;
	background-color: white; 
}
.popup p
{
	padding-top: 20px;
	padding-bottom: 20px;
	font-family: Calibri;
	font-weight: bold;
}

/*-------About us-------*/
.aboutus h2
{
	padding-top: 40px;
	text-align: center;
	margin-top: 20px;
}

.RCC{
	padding: 60px;
	padding-bottom: 40px;
	display: flex;
 	justify-content: center;
	
}

.aboutrcc img
{
	width: 400px;
	border-radius: 20px;

}
.aboutrcc
{
	width: 500px;
	position: relative;
	
} 


.aboutrcc p
{
	
	line-height: 25px;

}
.location
{
	
	border-radius: 4px;
	padding: 60px;
	padding-top: 30px;
	align-items: center;
	justify-content: center;
	text-align: center;

}
.map
{
	width:100%;

}
.map iframe{
	width: 100%;

}
iframe{
	height: 250px;
	width: 300px;
	border-radius: 10px;

}


.content-rcc
{
	width: 400px;
	height: 270px;
	position: absolute;
	top: 0;
	left: 0;

	background: rgba(0, 0, 0, 0.4);
	text-align: center;
	opacity: 0;
	transition: 0.6s;
	border-radius: 20px;
}
.content-rcc p 
{
	font-size: 20px;
	margin-top: 120px;
	font-weight: bold;
	color: white;
}
.content-rcc:hover
{
	opacity: 1;
}
.content-rcc > *
{
	transform: translateY(25px);
	transition: transform 0.6s;
}
.content-rcc:hover > *
{
	transform: translateY(0);
}
/*-------What we are doing?------*/
.activity{
	text-align: center;
}
.activity p
{
	margin-top: 25px;
	text-align: center;
	font-size: 16px;
	font-family: Calibri;
	margin-bottom: 10px;

}
.sampleitems
{
	display: flex;
	flex-wrap: wrap;
	justify-content: center;
	align-items: center;
	margin-top: 30px;
	padding-bottom: 30px;
}
.name
{
	color: gray;
}
.itemscontent1 h4
{
	text-align: center;
}
.itemscontent1 h3
{
	font-family:Calibri ;
}
.price
{
	
	padding-top: 10px;
	padding-bottom: 10px;
	font-size: 	15px;
}
.price p
{
	padding-bottom: 10px;
}
.itemscontent1{
	text-align: center;
    margin: 30px;
    
	border-radius: 10px;
    box-shadow: 0 0 15px rgba(0, 0, 0, 0.4);

}
.itemscontent1 img{
	
	width: 210px;
    
	height: 200px;
	border-radius: 15px;
}

.itemsview
{
	color: orangered;
	font-family: Calibri;
	font-size: 16px;
	
}
.itemsview:hover{
	color: blue;
	
}
.sitems
{
	font-family: Calibri;
	margin-left: 	76px;
	color: 	dimgray;
	margin-top: 40px;
}
/*-------footer-------*/
.footer-row
{
	display: flex;
	flex-wrap: wrap;
	

	justify-content: center;
	background-color: lightgray;

}
.footer-column
{
	margin: 40px;

}	
.footer-row	li a
{
	
	text-decoration: none;
	color: steelblue;
	font-family:Calibri ;
}
.footer-row ul
{
	list-style: none;

}
.footer-column p, ul  
{
	padding-top: 10px;
}
.footer-column i
{
	padding-top: 20px;
}
.footer-column p
{
	font-family: Calibri;
	font-size: 14px;
}
.f-container
{
	background-color:lightgray ;
}
.copyright
{
	text-align: center;
    padding-bottom: 20px;
    font-size: 	15px;
	
}
/*-----------------Camping Equiments Page-----------------*/
/*--------nav_bar-----*/
.navi
{
	
	width: 100%;
	display: flex;
	justify-content:space-between;
	align-items: center;
	background-color: white;

}

/*-----search-bar-------*/
.search-body
{
    border: 2px solid black;
    border-radius: 7px;
    width: 300px;
    

}
.search-icon
{
	display: flex;
	align-items: center;
	

}
.search
{
	margin: 5px;
	width: 100%;
	height: 100%;
    border: none;
    text-align: center;
    padding: 8px;
    /*box-sizing: border-box;*/
    cursor: pointer;

}
/* ----------cart----------- */
.cartpage{
	position: fixed;
	top: 0;
	right: -100%;
	width: 360px;
	min-height: 100vh;
	padding: 20px;
	background-color: white;
	box-shadow: 0 0 15px rgba(0, 0, 0, 0.4);
	border-radius: 10px;
	transition: 0.3s;
	
	
}

.cart-content-wrapper {

	position: relative;

	max-height: 460px;

	overflow-x: hidden;

}


.btn-buy {

	position:absolute;

	bottom: 20px;

	left: 50%;

	transform: translateX(-50%);

	display: flex;

	padding: 10px 20px;

	border: none;

	font-size: 1rem;

	font-family: Calibri;

	cursor: pointer;

	background-color: orangered;

	border-radius: 6px;
	

}
.cart-content {

	max-height: 500px; /* Add this line */

}
.cartpage.active{
	right: 0;
	overflow-y: scroll;
}

.cart-title{
	text-align: center;
	font-family:  serif;
	font-size: 17px;
	margin-top: 20px;
}
.cart-box img{
	width: 100px;
	height: 100px;
	object-fit: contain;
	padding: 10px;
}
.cart-box{
	display: grid;
	grid-template-columns: 32% 50% 18%;
	align-items: center;
	gap: 1rem;
	margin-top: 1rem;

}
.detail-box{
	display: grid;
	row-gap: 0.5rem;
}

.cart-product-title{
	font-size: 0.9rem;
	text-transform: uppercase;
	
}
.cart-price{
	font-size: 0.9rem;
	margin-top: 5px;
}

.cart-quantity{
	margin-top: 5px;
	border: 1px solid black;
	outline: var(--main-color);
	text-align: center;
	width: 2.5rem;
	font-size: 0.9rem;
}

.cart-remove{
	font-size: 24px;
	color: var(--main-color);
	cursor: pointer;
}
.total{
	display: flex;
	justify-content: center;
	margin-top: 20px;
	background-color: lightgray;
	padding: 5px;
	margin-bottom: 18px;
	border-top: 2px solid black;
}

.total-price{
	margin-left: 10px;
	font-family: sans-serif;
	font-size: 15px;
	font-weight: bold;
}
.total-title{
	font-family: sans-serif;
	font-size: 15px;
	font-weight: bold;
}
/* .btn-buy{
	display: flex;
	margin: 1.5rem auto 0 auto;
	padding: 10px 20px;
	position: relative;
	border: none;
	font-size: 1rem;
	font-family: Calibri;
	cursor: pointer;
	background-color:orangered ;
	border-radius: 6px;
} */
.btn-buy:hover{
    background-color: black;
	color:white;
	transition: 0.15s;
}
#close-cart{
	position: absolute;
	top: 1rem;
	right: 0.8rem;
	font-size: 1.5rem;
	cursor: pointer;
}
/*--------main-page----------*/
.main-page
{
	display: flex;
	justify-content:center;
	align-items: center;
	background-image: linear-gradient(to bottom right, #FDFCFB, #E2D1C3);
	
}
.main
{
	display: flex;
	align-items: center;
	height: 90vh;
}
.main span
{
   color: darkorange;
   font-family:Calibri ;
   font-weight: bold;
   font-size: 17px;
   text-transform: uppercase;
}
.main h2
{
	line-height: 35px;
	font-family: bold;
	font-family:Calibri ;
}
.main p
{

	width: 470px;
	line-height: 21px;
	padding-top: 8px;
}

.equipment-page
{
   padding-right: 70px;
   padding-left: 50px;
}
.equipment-page img
{
	
    width: 320px;
    padding-top: 30px;
    padding-bottom: 30px;
    
    
}
.go-review
{
	padding: 6px;
	width: 110px;
	background-color: transparent;
	color: black;
	margin-top: 20px;

}
.go-review:hover
{
	background-color: black;
	color: white;
	transition: 0.15s ;
}
/*-----Featured-products-------*/
.category
{
	background-color: white;
}
.category h2
{
	color: orangered;
	padding-top: 20px;
    font-family: Calibri;
	text-align: center;

}
.category h2::after, .sellitems1 h1::after
{
	content: '';
	height: 2px;
	width: 145px;
	background:black;
	display: block;
	margin: auto;
    

}

.itemscontent1{
	width:250px;
	text-align: center;
    margin: 20px;   
    padding: 10px;
    background-color: white;
	border-radius: 10px;
    box-shadow: 0 0 15px rgba(0, 0, 0, 0.4);

}
.itemscontent1:hover{
	
	border: 1px solid black;
	transition: 0.2s;
}

.itemscontent1 img{
	
	width: 220px;
    
	height: 180px;
	border-radius: 10px;
}
/*--------tents----------*/
.sellitems
{
	background-color: white;
}
.sellitems h2
{
	padding-top: 40px;
    font-family: Calibri;
    margin-left: 95px;
   
}
/*-----special offers------*/
.price span
{
	text-decoration: line-through;
	color: dimgray;
	font-family:Calibri ;
	font-size: 16px;
	padding-right: 5px;
	color: dimgray;
}
.price h3
{
	padding-top: 5px;
	color: red;
}
/*-----add to cart-------*/
.cart
{
	padding: 6px;
	font-family: Calibri;
	margin-top: 10px;
	background-color: transparent;
	border-radius: 10px;
	width: 120px;
	border: 2px solid black;

}
.cart:hover,.cart1:hover
{
	background-color: black;
	color: white;

}
/*-----utube for equipment page------*/
.utube{
	width:auto;

}
.utube iframe{
	width: 70%;


}
/*----------furniture-page------------*/
.sellitems1
{
	background-color: white;
}
.sellitems1 h2
{
	padding-top: 40px;
    font-family: Calibri;
    margin-left: 95px; 
} 
.sellitems1	h1
{
	color: orangered;
	text-align: center;
	padding-top: 30px;
}
.itemscontent2
{
   
	text-align: center;
    margin: 25px;
    padding: 20px;
    background-color: white;
	border-radius: 10px;
    box-shadow: 0 0 15px rgba(0, 0, 0, 0.4);

}
.itemscontent2 img{
	
	width: 280px;
    
	height: 200px;
	border-radius: 10px;
}
.cart1
{
    padding: 8px;
	font-family: Calibri;
	margin-top: 10px;
	background-color: transparent;
	border-radius: 10px;
	width: 200px;
}
/*----------special-sale (20% discount)---------*/

.special-sale
{
	height: 90vh;
	background-image: linear-gradient(to bottom right, #FDFCFB, #E2D1C3);
	display: flex;
	align-items: center;
	justify-content: center;
}
.special-content
{
	padding-right: 100px;
}

.special-content embed
{
	width: 400px;
	padding-top: 40px;
	padding-bottom: 40px;

}
.special-content h3
{
	line-height: 45px;
	color: red;
	font-size: 35px;
	font-family:Calibri;
}
.special-content span
{
	font-size: 25px;
	color: green;
	font-weight: bold;

}
.special-content p
{
	font-size: 15px;
	color:  green;
	font-family:Arial;
	font-weight: bold;
	line-height: 25px;
	
	border: 4px solid white ;
	padding: 5px;
}
/* ------------Login page and Register page------------ */
.logback{
	background-color: #ffb5b570;
}
.logContainer,.RegContainer{
	display: flex;
	justify-content: center;
	
}

.loginForm {
	margin-top: 40px;
    width: 450px;
    background-color: white;
    padding: 20px;
    border-radius: 4px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.5);
	text-align: center;

}
.RegForm{
	margin-top: 40px;
    width: 650px;
    background-color: white;
    padding: 20px;
    border-radius: 4px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.5);
	text-align: center;

}

.logPhoto1{
	align-items: center;
    display: flex;
    flex-direction: column;
	padding-bottom: 20px;
	margin-top: 10px;
    
	
}

.regPhoto
{
    align-items: center;
      
    
}

#span{
    font-size:15px;
    justify-content: center;
    display: flex;
    margin-top: 7px;
	font-family: sans-serif;

}

#span a{
    font-size: 15px;
    cursor: pointer;
    text-decoration: none;
	font-family: sans-serif;
	padding-left: 5px;
}
#span a:hover{
	color: red;
	
}


.buttonreg {
    width: 300px;
    background-color:black ;
    color: #fff;
    border: none;
    padding: 10px;
    border-radius: 4px;
    cursor: pointer;
    margin-bottom: 15px;
	margin-top: 25px;
    
}
.buttonlog{
	width: 300px;
    background-color:black ;
    color: #fff;
    border: none;
    padding: 10px;
    border-radius: 4px;
    cursor: pointer;
    
    margin-top: 15px;
}
.logPhoto1 input{
	width: 300px;
    padding: 10px;
    margin-top: 18px;
    margin-bottom: 10px;
    border: 1px solid #ccc;
    border-radius: 4px;
}
.regPhoto input,select{
    width: 300px;
    padding: 10px;
    margin-top: 20px;
    margin-bottom: 1px;
    border: 1px solid #ccc;
    border-radius: 4px;
}
.regincontainer{
	display: flex;
	
}

.regPhoto h2 {
    text-align: center;
    margin-bottom: 20px;
	font-family: sans-serif;
    font-size: 18px;
	color: black;
}
.logPhoto1 h2{
	text-align: center;
	margin-top: 20px;
    margin-bottom: 30px;
	font-family: sans-serif;
    font-size: 18px;
	color: black;
}


/*----------offer and package page--------*/

.offer1
{
	width: 100%;
	height: 100vh;
	background-image: linear-gradient(rgba(4,9,30,0.4), rgba(4,9,30,0.4)), url(images/50discount.jpg);
	background-position: center;
	position: relative;
	background-size: cover;
}

.offer-home-content
{
	position: absolute;
	width: 80%;
	top: 40%;
	left: 10%;
	text-align: center;
	color: white;
	
	

}
.offer-home-content h2 
{
	font-family: Calibri;
	
	font-size: 40px;

}
.offer-home-content h3
{
	font-family: Calibri;
	
	font-size: 26px;
	
}
.offer-home-content p
{
	font-family: Calibri;
	font-size: 18px;
	
}
.head
{
	text-align: center;
	position: relative;
	padding-top: 50px;
}
.head::before
{
	content: '';
	top: 80%;
	left: 0;
	position: absolute;
	width: 100%;
	height: .01rem;
	background-color: black;
	transform: translateY(-50%);
	z-index: -1;
}
.offer-package span
{
	font-size: 20px;
	color: orangered;
	padding: 15px;
	background: white;
	font-family: Calibri;
	border:1px solid black;

}
.event
{
	display: flex;
	justify-content: center;
	align-items: center;
	background-color: seashell ;
  
}
.event1
{
    margin-right: 80px;
}
.event1 img
{
	width: 520px;
	height: 60vh;
}
.event1 h1
{
	color: red;
	font-family: Calibri;
	font-size: 35px;
}
.event1 h4
{
	color: red;
	font-family: Calibri;
	font-size: 20px;
}
.event1 p
{
	font-family: Calibri;
	font-size: 17px;
	padding-top: 5px;
}
.go-review1
{
	padding: 6px;
	width: 110px;
	background-color: transparent;
	color: red;

	margin-top: 20px;

}
.go-review1:hover
{
	background-color: red;
	color: yellow;
	transition: 0.15s ;
}
/*--------review-page----------*/

.overlay1{
	position:fixed;
	overflow: hidden;
	top: 0;
	bottom: 0;
	left: 0;
	right: 0;
	visibility: hidden;


}
.overlay1:target{
	visibility: visible;
	
}
.review-popup
{
	margin: 70px auto;
	padding: 20px;
	border-radius: 6px;
	width: 450px;
    background: transparent;
	backdrop-filter: blur(20px);
	border: 2px solid black;
	
	position: relative;
	padding-left: 48px;
	

}

.review-popup .close{
	position: absolute;
	top: 20px;
	right: 30px;

}
.review-popup h3
{
	padding-left: 100px;
	text-transform: uppercase;

}
.review-popup input, textarea
{
	width: 350px;
	padding: 7px;
	border-radius: 5px;
	border: 2px solid black;
	margin-top: 30px;
}
.submit-rev
{
	width: 350px;
	margin-top: 20px;
	padding: 7px;
	border-radius: 10px;
	background-color: darkgreen;
	color: white;
}
.submit-rev:hover
{
	background-color: white;
	color: darkgreen;
}
.review
{
	background-color: seashell;

}
.review-popup h4
{
	margin-top: 25px;
	font-size: 17px;
	
}
.review-popup i 
{
	letter-spacing: 10px;
}
.review-popup i:hover
{
	color: darkorange;
}
.head-rev
{
	
	text-align: center;

}
.head-rev a:hover
{
	background-color: black;
	color: white;

}
.head-rev a 
{
      
	color: black;
	text-decoration: none;
	border-radius: 7px;
    padding: 5px;
	border: 2px solid black;
}
.head-rev h2
{
	
	padding-top: 30px;
	padding-bottom: 30px;
	text-transform: uppercase;
    
}
.review-container
{
	padding-top: 40px;
	padding-bottom: 40px;
	display: flex;
	justify-content: center;
	align-items: center;
	flex-wrap: wrap;
	width: 100%;
}
.review-box
{
	width: 800px;
	height: 270px;
    box-shadow: 0 0 15px rgba(0, 0, 0, 0.4);
	background-color: white;
	padding: 20px;
	margin: 15px;
	cursor: pointer;
}
.image-pro
{
	width: 50px;
	height: 50px;
	border-radius: 50%;
	overflow: hidden;
	margin-right: 10px;

}
.image-pro img 
{
	width: 100%;
	height: 100%;
	object-fit: cover;
	object-position: center;
	border-radius: 30px;
}
.profile
{
	display: flex;
	align-items: center;
}
.name-user
{
	display: flex;
	flex-direction: column;
}
.name-user strong
{
	font-family: Calibri;
	color: dimgray;
	font-size: 1.1rem;
	letter-spacing: 0.5px;
}
.name-user span
{
	color: grey;
	font-family: Calibri;
	font-size: 0.9rem;

}
.box-top
{
	display: flex;
	justify-content: space-between;
	align-items: center;
	margin-bottom: 20px;
}
.content-review
{
	display: flex;
	align-items: center;
	
	
}
.comment p 
{
	padding-left: 20px;
	font-size: 1rem;
}

.rev-img img 
{
	width: 200px;

}
.rev-img1 img 
{
	width: 180px;
	height: 140px;
}


/*--------Register------------*/
.color
{
	
	background: linear-gradient(to right, #FDFCFB, #E2D1C3);
}
.acc-column{
	width: 300px;
	margin-right: 50px;
}
.acc-column img{
	width: 60%;
	
}
.row-account
{
	display: flex;
	align-items: center;
	justify-content: center;
}

.account{
	padding-top: 90px;
}
.rgform{
	color: darkgreen;
	font-size: 25px;
	margin-left: 32px;

}

#registerform  input
{
	width: 100%;
	height: 30px;
	padding-left: 10px;
	border-radius: 5px;
	border: 1px solid steelblue;
	margin-bottom: 20px;
}

.reg-b{
	padding: 5px;
	width: 100px;
	color: darkgreen;
	background-color: transparent;
	border-radius: 15px;
	margin-right: 8px;
	margin-left: 30px;

}

  
.reg-b:hover{
	background-color: black;
	color: white;

}
.reg-b:active{
	opacity: 0.7;
}
.acc-h4
{
	text-align: center;
	color: dimgray;
	margin-top: 60px;
}
.acc-h4::after
{
	content: '';
	width: 330px;
	height: 1.7px;
	background: black;
	display: block;
	margin: auto;
}
.sign1
{
	text-align: center;

}
.button2
{
	background-color: black;
	color: white;
	text-decoration:none;
	
}
.page
{
	position: fixed;
	top: 0;
	left: 0;
	right: 0;
	bottom: 0;
	visibility: hidden;
}
.page:target
{
	visibility: visible;

}
.signin
{
	margin: 50px auto;
	padding: 10px;
	background: transparent;
	backdrop-filter: blur(20px);
	border: 2px solid black;
	border-radius: 10px;
	width: 350px;
	height: 50vh;
	position: relative;
}
.signin input
{
	width: 230px;
	height: 30px;
	margin-top: 30px;
	margin-left: 50px;
    padding-left: 10px;
	border-radius: 5px;
	border: 1px solid black;
}
.signbutton
{
	text-decoration: none;
	font-family:Calibri ;
	font-weight: bold;
	font-size: 18px;
}
.signbutton:hover
{
	color: green;

}
.forpass
{
	text-decoration: none;
	font-family: Calibri ;
	color: steelblue;
	font-size: 14px;
	margin-left: 180px;


}

.button1
{
	
	width: 230px;
	border-radius: 4px;
	height: 30px;
	margin-top: 20px;
	background: transparent;
	margin-left: 50px;
	font-weight: bold;
}
.button1:hover
{
	background-color: black;
	color: white;
	transition: 0.15s;
}
.close
{
	top: 10px;
	right: 20px;
	position: absolute;
}
/*-------basket-page-------*/
.wrapper
{
	background-color: seashell;

}
.wrapper h2
{
	padding-top: 30px;
	text-align: center;
	text-transform: uppercase;
	padding-bottom: 50px;
}
.project
{
	display: flex;
	justify-content: center;

	padding-bottom: 30px;
}
.shop
{
	width: 600px;

}
.box
{
   
	display: flex;
	width: 100%;
	height: 200px;
	margin-bottom: 20px ;
	background-color: white;
	border-radius: 20px;
	

}
.box img
{
	width: 250px;
	height: 180px;
	padding-left: 20px;

}
.content
{
	margin-left: 30px;
	padding: 30px;
	
	width: 400px;
}
.content h3
{
	margin-bottom: 10px;
	font-size: 17px;
	font-family: Calibri ;
}
.btn-area
{

	margin-top: 10px;
	margin-left: 200px;
    
    width: 120px;
    background-color: transparent;
    padding: 6px 22px;
    font-size: 13px;
    text-align: center;
    cursor: pointer;
    border: 1px solid darkred;
    border-radius: 20px;
}
.btn-area:hover
{
	background-color: black;
	color: white;
	transition: 0.15s;
}
.btn-area span
{
	font-size: 14px;
}
.unit input
{
    width: 55px;
    padding-left: 10px;
    border-radius: 3px;
    border: 1px solid black;
}
.project1
{
	background-color: white;
	width: 315px;
	border-radius: 10px;
	
	margin-left: 20px;
	padding: 20px;
	height: 350px;
	line-height: 50px;
	

}
.project1 p
{
	display: flex;
	justify-content: space-between;
	font-size: 15px;
}
.checkb
{

	padding: 8px;
	width: 275px;
	margin-top: 20px;
	border-radius: 10px;
	background-color: green;
	color: white;
	
	font-size: 14px;
	border: 1px solid black;


}
.checkb:hover
{
	opacity: 0.8;
	transition: 0.15s;
	text-transform: uppercase;
}

@media screen and (max-width: 1020px)
{
	.logo
	{
		margin-left: 5px;
	}

	.nav-link ul 
	{
		position: absolute;
		top: 43px;
		left: -100%;
		height: 58vh;
		width: 100%;
		text-align: center;

		background: hsl(0 0% 50% / 0.8);
		transition: all 0.15s ease-in;
	}
	.nav-link li a:hover::after
	{
		width: 0;
	}	
	.nav-link li a:hover
	{
		color: black;
		font-weight: bold;
	}
		
	.nav-link ul li 
	{
		display: block;
        
	}
	.nav-link ul li a
	{
		color: white;
		font-size: 17px;
		font-weight: bold;
	}

	.checkbtn
	{
        margin-right: 10px;
		display:flex;
	}
	#check:checked ~ .nav-link ul
	{
		left: 0;
	}
	.icon
	{
		margin: auto;
	}
	.cartIcon i{
		width: 23px;
	}
	#cart-count{
		margin-left: auto;
	}
	.content-rcc p 
	{
		margin-top: 100px;
	}

	.RCC
	{
		flex-direction: column;
        text-align: center;

	}
	.aboutrcc p
	{
      padding-top: 20px;

	}
	.aboutrcc 
	{
      width: auto ;
      margin: auto;
	}
	.content-rcc
	{

		width: 400px;
			
	}
	
	.aboutrcc img
	{
		width: 400px;

	}
	.service-content
	{
		text-align: center;
		justify-content: center;
		margin: auto;
		
	}
	.service-content img
	{
		width: 350px;
		height: auto;
		
	}
	.service_row1
	{
		display: block;
		height: 70vh;
		text-align: center;
		justify-content: center;
		align-items: center;

	}
	.buttonbox
	{
		margin-left: auto;
	}

	.service-content h3
	{
        font-size: 21px;
        margin-left: auto; 
	}
	.service-content p
	{
		width: auto;
		font-size: 15px;
		margin-left: auto;
	}
	.account
	{
		text-align: center;
		margin-left: 40px;
	}
	button
	{
		margin-left: auto;
	}
	.acc-column
	{
		
		margin-bottom: 10px;
	}
	.account
	{
		padding-top: 0;
	}
	.row-account
	{
		display: inline-block;
		margin-top: 20px;
		justify-content: center;
		align-items: 	center;
	}
	.acc-h4
	{
		font-size: 13px;
		margin-top: 5px;
	}
	.acc-h4::after
	{
		width: 420px;
	}
	.signin input
	{
		margin-left: 50px;
	}
	
	.signin
	{
		width: 350px;
	}
	
	#registerform input 
	{
		margin-left: 10px;

	}
	.main
	{
		height: 55vh;
		margin: auto;
		
	}
	.equipment-page
	{
		
		padding-left: 0;
		width: auto;
	}
	.main span
    {
        font-size: 16px ;
    }
    .main h2
    {
	  
	  font-size: 19px;
	
    }
    .main p
    {
	  width: auto;
	  font-size: 16px;
	  	  
    }
   
    .equipment-page img
    {
    	display: none;
	  
            
    }
    .go-review
    {
	  padding: 4px;
	  width: 100px;
    }
    .special-sale
    {
    	line-height: 0;
    	display: block;

    }
    .special-content embed
    {
        width: 250px;
        padding-top: 10px;
	    padding-bottom: 0px;
    }
    .special-content
    {
    	padding-right: 0;
        text-align: center;
    }
    .special-content h3
    {
       font-size: 23px;
       line-height: 28px;
       padding-top: 8px; 
    }
    .special-content span
    {
    	font-size: 20px;
    }
    .special-content p 
    {
    	font-size: 13px;
    	display: inline-block;
    	padding: 10px;
    	padding-left: 15px;
    	padding-right: 15px;
    	border: 2px solid white;
        text-align: center;
    }
    
    .search-box{
    	height: 25px;

    }
    .search-text
    {
	    width: 200px;
	    font-size: 13px;

    }
   
    .search-box:hover > .search-text
    {
	   	width: 250px;
    }
    .offer-home-content h2 
    {
    	font-size: 32px;
    }
    .offer-home-content h3
    {
    	font-size: 22px;
    }
    .offer-home-content p
    {
    	font-size: 15px;
    }

    .event1 img
	{
		width: 400px;
		height: 220px;
	    margin: auto;
	}
	.event
	{
		display: block;
		height: 80vh;
		text-align: center;
		justify-content: center;
		align-items: center;

	}
	.event1
	{
		text-align: center;
		justify-content: center;
		margin: auto;
		
	}

	.event1 h1
	{
		font-size: 27px;
	}

    .event1 h4
    {
    	font-size: 16px;
    }

    .event1 p
    {
    	width: auto;
    	font-size: 15px;
    }
    .review-popup input, textarea
    {
    	width: 280px;
    	margin-top: 20px;
    }
    .review-popup h4
    {
    	font-size: 15px;
    	margin-top: 20px;
    }
    .review-popup h3
    {
    	padding-left: 70px;
    }
    .review-popup 
    {
    	width: 380px;
    	height: 80vh;

    }
    .submit-rev
    {
    	width: 280px;
    }
    .project
    {
    	flex-direction: column;
    }
    .shop
    {
    	width: 550px;
    }
    .project
    {
    	align-items: center;
    }
    .box img
    {
    	width: 170px;

    }
    .content h3
    {
    	margin-bottom: 5px;
    	font-size: 15px;
    }
    .content
    {
    	margin-left: 20px;
    	width: 400px;
    }

    .btn-area
    {
    	padding: 5px 10px;
    	font-size: 12px;
    	margin-left: 0;
    	margin-top: 20px;
    	font-size: 11px;
    	width: 120px;

    }
    .project1
    {
    	margin-left: 0;
    }
    .unit input
    {
    	width: 30px;
    	padding-left: 5px;
    }


}
@media screen and (max-width: 700px)
{
	.shop
    {
    	width: 85% ;
    }
}